#upvote {
    width: 0;
    height: 0;
    border-color: orangered;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid orangered;
}

#upvote:after {
    width: 5px;
    height: 6px;
    background-color: orangered;
    content: '';
    position: absolute;
    margin-top: 8px;
    margin-left: -3px;
}

#downvote {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #CCCCFF;
    margin-left: -1px;
}

#downvote:after {
    width: 5px;
    height: 6px;
    background-color: #CCCCFF;
    content: '';
    position: absolute;
    margin-left: -2px;
    margin-top: -14px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
