

  .scrollbar {
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; 
  }
  
  .scrollbar {
    max-height: 350px;
  }

  